@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
    <h2>Deseja realmente apagar o contato (Guilherme Souza)?</h2>
</div>

<a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Index">Cancelar</a>
<a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="Apagar">Confirmar</a>