@model Contato

@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">

    <h1 class="display-4">Editar contato</h1>

</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contator">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email do contato">
    </div>

    <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o celular do contato">
    </div>

    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index">Voltar</a>
</form>